@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
       url("fonts/opensanslight.woff2") format("woff2"), /* Super Modern Browsers */
       url("fonts/opensanslight.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
       url("fonts/opensans.woff2") format("woff2"),
       url("fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"), local("Gilroy-Light"),
       url("fonts/gilroylight.woff2") format("woff2"), /* Super Modern Browsers */
       url("fonts/gilroylight.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
       url("fonts/gilroyextrabold.woff2") format("woff2"), /* Super Modern Browsers */
       url("fonts/gilroyextrabold.woff") format("woff"); /* Modern Browsers */
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
}

/* Global */
body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */
.main-navigation-wrapper {
  background-color: var(--special-yellow);
}

.main-navigation-wrapper a {
  color: var(--basic-black);
}

/* About us / our contacts sections */
.about-us h2,
.our-contacts h2 {
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us p,
.our-contacts p {
  font-family: "Open Sans", Arial, sans-serif; /* несколько раз приходится писать этот код. есть идея сделать класс "alt-font",
  добавить в этот файл один раз и потом всем необходимым элементам добавлять этот класс. что думаешь?*/
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
}

.about-us ul {
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  list-style-type: circle;
}

.more-details-button {
  text-decoration: none;
  color: var(--basic-black);
  text-transform: uppercase;
}

/* User navigation */
.search-form,
.user-navigation {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

.site-navigation {
  text-transform: uppercase;
}

.site-navigation ul {
  list-style: none;
}

/* Main footer */
.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

/* Footer logo */
.main-footer-logo {
  border: 5px solid red;

}

/* Footer site navigation */
.footer-site-navigation {
  list-style: none;
}

.footer-site-navigation a {
  color: var(--basic-white);
}

/* Footer user/contacts navigation */
.footer-user-navigation,
.footer-contacts {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7)
}

.footer-contacts a {
  color: var(--basic-white);
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

/* Hidden elements */
.search-button,
.modal {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
