@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
       url("fonts/opensanslight.woff2") format("woff2"), /* Super Modern Browsers */
       url("fonts/opensanslight.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
       url("fonts/opensans.woff2") format("woff2"),
       url("fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"), local("Gilroy-Light"),
       url("fonts/gilroylight.woff2") format("woff2"), /* Super Modern Browsers */
       url("fonts/gilroylight.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
       url("fonts/gilroyextrabold.woff2") format("woff2"), /* Super Modern Browsers */
       url("fonts/gilroyextrabold.woff") format("woff"); /* Modern Browsers */
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-black-rgb: 0, 0, 0;
  --basic-white-rgb: 255, 255, 255;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --special-yellow-footer: #FFC600;
  --main--font-family: "Gilroy", Arial, sans-serif;
  --aditional--font-family: "Open Sans", Arial, sans-serif;
}

/* Global */
body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: var(--main--font-family);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  grid-template-columns: min-content 1fr min-content;
  align-content: start;
}

/* Main navigation */
.main-nav {
  display: flex;
  flex-direction: column;
  background-color: var(--special-yellow);
  box-shadow: inset 0 40px var(--basic-white);
}

.main-header.container {
  width: 1160px;
  margin: 0 auto;
}

.header-logo {
  width: 163px;
  height: 35px;
  padding-left: 60px;
  padding-top: 20px;
}

.nav-wrapper {
  background-color: var(--special-yellow);
  padding-top: 44px;
  padding-left: 60px;
  padding-right: 60px;
}

.nav-wrapper a {
  color: var(--basic-black);
}

.header-logo[href]:hover,
.header-logo[href]:focus,
.nav-wrapper a:hover,
.nav-wrapper a:focus {
  opacity: 0.6;
}

.header-logo[href]:active,
.nav-wrapper a:active {
  opacity: 0.3;
}

.user-container {
  display: flex;
  justify-content: space-between;
}

.site-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Slider */

.slide-title {
  font-family:  var(--main--font-family);
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.slide-description {
  font-family: var(--aditional--font-family);
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.slider .features {
  font-family: var(--aditional--font-family);
  letter-spacing: 0.1em;
  font-weight: 300;
}

.features .feature-name {
  font-size: 13px;
  line-height: 15px;
}

.features .feature-value {
  font-size: 36px;
  line-height: 42px;
}

/* Category items */
.category-items .category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list .item-link {
  letter-spacing: 0.05em;
  color: var(--basic-black);
}

/* Our capability */
.capabilities-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.capabilities-title {
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.capabilities-description {
  font-family: var(--aditional--font-family);
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
}

.capabilities-item:nth-of-type(2) .capabilities-description {
  line-height: 30px;
}

/* Brands */
.brands-list {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* About us / our contacts sections */
.container-info {
  margin: 0 auto;
  padding-bottom: 86px;
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.about-us h2,
.our-contacts h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about-us p,
.our-contacts p {
  font-family: var(--aditional--font-family);
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 40px;
}

.our-contacts img {
  padding-bottom: 85px;
}

.our-contacts {
  display: flex;
  flex-direction: column;
}

.contacts-map {
  /* Вот здесь проблема с выравниванием кнопок "Подробнее о нас" и "Напишите нам". Насколько я понял из инспектора,
     проблема в том, что ссылка с картинкой занимает место - размер картикни + размер ссылки. Не получается это убрать. */
}

.about-us ul {
  margin: 0;
  padding: 0;
  padding-bottom: 84px;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  list-style: none;
}

.about-us {
  padding-right: 127px;
  display: flex;
  flex-direction: column;
}

.about-us li {
  margin-bottom: 20px;
}

.about-us li:last-child {
  margin: 0;
}

.details-button {
  display: block;
  text-decoration: none;
  color: var(--basic-black);
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.container-info .details-button {
  margin-top: auto;
}

/* User navigation */
.search-form,
.user-nav {
  font-family: var(--aditional--font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

.user-container .user-nav {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.user-container a:first-child {
  margin-right: auto;
}

.user-container a {
  padding-left: 26px;
  margin-right: 41px;
}

.user-container a:last-child {
  margin-right: 0;
}

/* Site navigation */


.site-nav {
  text-transform: uppercase;
}


.site-nav .user-list {
  width: 500px;
  display: flex;
  justify-content: flex-end;
}

.user-list li:nth-child(2) {
  margin-right: auto;
  padding-left: 38px;
}

.site-nav .user-list,
.site-nav .category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav .category-list {
  font-family: var(--aditional--font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: none;
}

.catalog-container .category-list {
  padding-top: 18px;
  padding-bottom: 46px;
  display: grid;
  grid-template-columns: 179px 125px 104px;
  grid-template-rows: min-content min-content min-content;
  grid-column-gap: 61px;
  grid-row-gap: 20px;
}

.catalog-container .category-item:last-child {
  grid-column: 1 / 1;
  grid-row: 3 / 3 ;
}

/* Main footer */
.footer-wrapper {
  margin: 0 auto;
  padding-bottom: 65px;
  width: 1160px;
}

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.main-footer .footer-container {
 width: 1160px;
 display: flex;
 justify-content: space-between;
}

.footer-container .user-nav {
  width: 325px;
  height: 20px;
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-container .site-nav {
   width: 423px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer-logo {
  padding-top: 64px;
  width: 163px;
  height: 35px;
}

.footer-logo path {
  fill: var(--special-yellow-dark);
}

/* Footer site navigation */
.main-footer .site-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav .footer-link {
  color: var(--basic-white);
}

.footer-nav {
  padding-top: 40px;
  padding-bottom: 67px;
}

.footer-nav .footer-link:hover,
.footer-nav .footer-link:focus {
  opacity: 0.6;
}

.footer-nav .footer-link:active {
  opacity: 0.3;
}

.user-nav .footer-link,
.footer-contacts {
  font-family: var(--aditional--font-family);
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
}

.user-nav .footer-link {
  color: rgba(var(--basic-white-rgb), 0.7)
}

.user-nav .footer-link:first-child {
  padding-left: 24px;
}

.user-nav .footer-link:nth-child(2) {
  padding-left: 25px;
}

.user-nav .footer-link:last-child {
  padding-left: 22px;
}

.user-nav .footer-link:hover,
.user-nav .footer-link:focus {
  color: var(--basic-white);
}

.user-nav .footer-link:active {
  color: rgba(var(--basic-white-rgb), 0.3);
}

.footer-contacts:first-of-type {
  order:-1;
}

.tel-link {
  color: var(--basic-white);
}

.footer-social {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-footer);
}

.social-list {
  width: 136px;
  display: flex;
  justify-content: space-between;
}


.footer-social .social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Catalog.html */
.page-catalog {
  width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 468px 1fr;
}

.page-title {
  grid-column: 1 / -1;
  margin-top: 44px;
  margin-bottom: 30px;
  margin-left: 200px;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

/* Breadcrumbs */
.breadcrumbs {
  grid-column: 1 / -1;
  display: flex;
  font-family: var(--aditional--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 200px;
  margin-bottom: 50px;
}

.breadcrumbs a {
  color: rgba(var(--basic-black-rgb), 0.3);
  padding-right: 24px;
  margin-right: 16px;
}

.breadcrumbs a:nth-child(2) {
  padding-right: 28px;
}

.breadcrumbs a[href]:hover,
.breadcrumbs a:focus {
  color: rgba(var(--basic-black-rgb), 0.6);
}

.breadcrumbs a:active {
  color: rgba(var(--basic-black-rgb), 0.1);
}

/* Filters */

.filtering-title,
.sorting-title {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}


.price-fieldset {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.filters {
  margin-left: 200px;
  grid-template-rows: 60px;
  display: grid;
  grid-row: 3 / 6;
}


.filters legend {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}


.filters ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.filters label {
  font-family: var(--aditional--font-family);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.filter-button {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-white);
}

/* Sorting */
.type-list,
.direction-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sorting a {
  font-family: var(--aditional--font-family);
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting .active,
.pagination-item .active {
  opacity: 1;
}

/* Catalog */
.catlog {
  margin-top: 70px;
  margin-left: 72px;
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

}

.catalog-item {
  margin-right: 40px;
}


.catalog-item a {
  color: var(--basic-black);
}

.catalog-item .item-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.catalog-item .item-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}


/* Pagination */
.pagination {
  grid-column: 2 / 3;
}
.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item a {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

/* Hidden elements */
.search-button,
.modal {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
